* {
  margin: 0;
  padding: 0;
}

.mb {
  margin: 100px auto;
  width: 500px;
  height: 300px;
  background-color: rgb(27, 188, 155);
  position: relative;
  top: 20px;
}

.mb div {
  display: inline-block;
  margin: 120px auto;
  position: relative;
  left: 220px;
  top: ;
  background-color: white;
  width: 10px;
  height: 50px;

  animation: stretchDelay 1.2s infinite ease-in-out;
}

.mb .st2 {
  animation-delay: -1.1s;
}

.mb .st3 {
  animation-delay: -1.0s;
}

.mb .st4 {
  animation-delay: -.9s;
}

.mb .st5 {
  animation-delay: -.8s;
}

@keyframes stretchDelay {

  0%,
  40%,
  100% {
    transform: scale(0.4);
  }

  20% {
    transform: scale(1.0);
  }
}